/STG/.vs
/STG/*.db
/STG/*.iobj
/STG/*.ipdb
/STG/*.pdb
/STG/*.user
/STG/Release
/STG/Debug
/STG/x64
/ACT/.vs
/ACT/*.db
/ACT/*.iobj
/ACT/*.ipdb
/ACT/*.pdb
/ACT/*.user
/ACT/Release
/ACT/Debug
/ACT/x64
/3D/.vs
/3D/*.db
/3D/*.iobj
/3D/*.ipdb
/3D/*.pdb
/3D/*.user
/3D/Release
/3D/Debug
/3D/x64
/3D/ipch
